<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Threejs & Leaflet</title>
    <style>
        #map {
            position: absolute;
            height: 100%;
            width: 100%;
            /* background-color: #333; */
            /* -webkit-filter: grayscale(1) brightness(1.1);
            filter: grayscale(1) brightness(1.1); */
        }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>

</head>
<!-- https://turfjs.org/docs/ -->
<!-- https://turfjs.org/docs/#squareGrid -->

<body>
    <div id="map"></div>
    <!--Three js Addition-->
    <script>
        var map = L.map("map", { center: [36.664165457763715, -4.458582401275635], zoom: 17 });

        // L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            // L.tileLayer('https://{s}.tile-cyclosm.openstreetmap.fr/cyclosm/{z}/{x}/{y}.png', {
            L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
            // L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
            maxNativeZoom: 19,
            maxZoom: 25
        }
        ).addTo(map);
        L.control.scale().addTo(map);
        var marker = L.marker([36.664165457763715, -4.458582401275635]).addTo(map);
        map.on('dragend', function (e) {
            c = map.getCenter()
            console.log(c.lat)
            marker.setLatLng(c).update();
        });
        map.on('zoomend', function (e) {
            c = map.getCenter()
            marker.setLatLng(c).update();
        });

    </script>
</body>

</html>