<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js"></script>
    <!-- <script src="https://threejs.org/build/three.min.js"></script> -->
    <script src="https://threejs.org/examples/js/libs/dat.gui.min.js"></script>
    <style>
        html,
        body {
            height: 100%;
        }

        #map {
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: #333;
            /* -webkit-filter: grayscale(1) brightness(1.1); */
            filter: grayscale(1) brightness(1.1);
        }

        #maskCanvas {
            position: absolute;
            height: 100%;
            width: 100%;
            pointer-events: none;
        }

        .map-container {
            position: relative;
            display: inline-block;
            margin-left: 1%;
            margin-right: 10px;
            width: 100%;
            height: 100%;
            vertical-align: top;
        }
    </style>
</head>

<body>
    <div class="map-container">
        <div id="map"></div>
        <div id="maskCanvas"></div>
    </div>
    <script src="https://threejs.org/examples/js/libs/dat.gui.min.js"></script>

    <!-- <script> -->
    <script type="module">

        import * as THREE from './js/three.module.js';
        import { OrbitControls } from './js/OrbitControls.js';
        import { TransformControls } from './js/TransformControls.js';

        // LEAFLET
        {
            var map = L.map("map", { center: [36.664165457763715, -4.458582401275635], zoom: 17 });
            var c
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                // L.tileLayer('https://{s}.tile-cyclosm.openstreetmap.fr/cyclosm/{z}/{x}/{y}.png', {
                // L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
                // L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
                maxNativeZoom: 19,
                maxZoom: 25
            }
            ).addTo(map);
            L.control.scale().addTo(map);
            var marker = L.marker([36.664165457763715, -4.458582401275635]).addTo(map);

            // marker.bindPopup(popUpHTML).openPopup()
            map.on('dragend', function (e) {
                c = map.getCenter()
                console.log(c.lat)
                marker.setLatLng(c).update();
            });
            map.on('zoomend', function (e) {
                c = map.getCenter()
                marker.setLatLng(c).update();
            });

        }

        // var container = document.getElementById('maskCanvas');
        var scene = new THREE.Scene();
        // RENDERER
        {
            var renderer = new THREE.WebGLRenderer({ alpha: true });
            document.getElementById("maskCanvas").appendChild(renderer.domElement);
            // renderer.setClearColor(new THREE.Color(0xffffff));
            renderer.setSize(window.innerWidth, window.innerHeight);
            renderer.shadowMap.enabled = true;
            renderer.shadowMapSoft = true
        }

        window.addEventListener('resize', onResize, false);

        function onResize() {
            camera.aspect = window.innerWidth / window.innerHeight;
            camera.updateProjectionMatrix();
            renderer.setSize(window.innerWidth, window.innerHeight);
        }
        // PLANO
        {
            var axes = new THREE.AxesHelper(50);
            scene.add(axes);
            var planeGeometry = new THREE.PlaneGeometry(20, 20, 1, 1);
            var planeMaterial = new THREE.ShadowMaterial({ opacity: 0.4 });
            // var planeMaterial = new THREE.MeshLambertMaterial({ color: 0xffffff,opacity: 0.1,transparent: true });
            var plane = new THREE.Mesh(planeGeometry, planeMaterial);
            plane.rotation.set(-0.5 * Math.PI, 0, 0);
            plane.position.set(0, 0, 0);
            plane.receiveShadow = true;
            scene.add(plane);
        }
        // OBJETO-PANEL
        {
            var texture = new THREE.TextureLoader().load('./textures/panel.png', render);
            texture.anisotropy = renderer.capabilities.getMaxAnisotropy()
            var cubeMaterial = new THREE.MeshLambertMaterial({ map: texture, transparent: true, opacity: 0.5 });
            // var cubeMaterial = new THREE.MeshLambertMaterial();
            cubeMaterial.transparent = true;
            var cubeGeometry = new THREE.BoxGeometry(.1, 8, 8);
            var cube = new THREE.Mesh(cubeGeometry, cubeMaterial);
            cube.castShadow = true;
            cube.position.set(0, 0, 0);
            scene.add(cube);
        }


        // LUCES
        {
            // add spotlight for the shadows
            var light = new THREE.DirectionalLight(0xffffff, 1, 100);
            light.position.set(0, 100, 100); 			//default; light shining from top
            light.castShadow = true;            // default false
            scene.add(light);



            // add subtle ambient lighting
            var ambienLight = new THREE.AmbientLight(0x353535);
            scene.add(ambienLight);
        }
        // CAMARA
        {
            var camera = new THREE.PerspectiveCamera(45, 1 * window.innerWidth / window.innerHeight, 0.1, 1000);
            camera.position.set(-0, 20,0);
            camera.lookAt(scene.position);
        }
        // GUI
        {
            var step = 0;
            // funciones
            var controls = new function () {
                this.inclinacion = 30;
                this.orientacion = 0;
                this.posiciona = function () {
                    console.log(controls.inclinacion)
                }
                this.posicionaT = function () {
                    console.log(controls.inclinacion)
                }
            };
            //  panel
            var gui = new dat.GUI();
            gui.add(controls, 'inclinacion', 0, 90).step(1);
            gui.add(controls, 'orientacion', -180, 180).step(1);
            gui.add(controls, 'posiciona');
            // gui.add(controls, 'posicionaT');
        }
        // ...ACCION
        render();
        function render() {
            cube.rotation.z = (controls.inclinacion - 90) * Math.PI / 180;
            cube.rotation.y = (-controls.orientacion + 90) * Math.PI / 180;
            // 
            requestAnimationFrame(render);
            renderer.render(scene, camera);
        }
    </script>
</body>

</html>