<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js"></script>
    <!-- <script src="https://threejs.org/build/three.min.js"></script> -->
    <script src="https://threejs.org/examples/js/libs/dat.gui.min.js"></script>
    <style>
        html,
        body {
            height: 100%;
        }

        #map {
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: #333;
            -webkit-filter: grayscale(1) brightness(1.1);
            filter: grayscale(1) brightness(1.1);
        }

        #maskCanvas {
            position: absolute;
            height: 100%;
            width: 100%;
            pointer-events: none;
        }

        .map-container {
            position: relative;
            display: inline-block;
            margin-left: 1%;
            margin-right: 10px;
            width: 100%;
            height: 100%;
            vertical-align: top;
        }
    </style>
</head>

<body>
    <div class="map-container">
        <div id="map"></div>
        <div id="maskCanvas"></div>
    </div>
    <script src="https://threejs.org/examples/js/libs/dat.gui.min.js"></script>

    <!-- <script> -->
    <script type="module">

        import * as THREE from './js/three.module.js';
        import { OrbitControls } from './js/OrbitControls.js';
        import { TransformControls } from './js/TransformControls.js';

        // LEAFLET
        {
            var map = L.map("map").setView([36.664179, -4.458629], 18)
            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png',
                {
                    maxNativeZoom: 19,
                    maxZoom: 25
                }
            ).addTo(map);
        }

        // var container = document.getElementById('maskCanvas');
        var scene = new THREE.Scene();
        // RENDERER
        {
            var renderer = new THREE.WebGLRenderer({alpha: true});
            document.getElementById("maskCanvas").appendChild(renderer.domElement);
            // renderer.setClearColor(new THREE.Color(0xffffff));
            renderer.setSize(window.innerWidth, window.innerHeight);
            renderer.shadowMap.enabled = true;
        }
        // PLANO
        {
            var axes = new THREE.AxesHelper(20);
            scene.add(axes);
            var planeGeometry = new THREE.PlaneGeometry(20, 20, 1, 1);
            var planeMaterial = new THREE.ShadowMaterial({ opacity: 0.8 });
            // var planeMaterial = new THREE.MeshLambertMaterial({ color: 0xffffff,opacity: 0.1,transparent: true });
            var plane = new THREE.Mesh(planeGeometry, planeMaterial);
            plane.rotation.set(-0.5 * Math.PI, 0, 0);
            plane.position.set(0, 0, 0);
            plane.receiveShadow = true;
            scene.add(plane);
        }
        // OBJETO-PANEL
        {
            var texture = new THREE.TextureLoader().load('textures/panel.png', render);
            texture.anisotropy = renderer.capabilities.getMaxAnisotropy()
            var cubeMaterial = new THREE.MeshLambertMaterial({ map: texture, transparent: true });
            // var cubeMaterial = new THREE.MeshLambertMaterial();
            cubeMaterial.transparent = true;
            var cubeGeometry = new THREE.BoxGeometry(.1, 8, 8);
            var cube = new THREE.Mesh(cubeGeometry, cubeMaterial);
            cube.castShadow = true;
            cube.position.set(0, 0, 0);
            scene.add(cube);
        }
        // LUCES
        {
            // add spotlight for the shadows
            var spotLight = new THREE.SpotLight(0xffffff);
            spotLight.position.set(-10, 20, +30);
            spotLight.castShadow = true;
            scene.add(spotLight);
            // add subtle ambient lighting
            var ambienLight = new THREE.AmbientLight(0x353535);
            scene.add(ambienLight);
        }
        // CAMARA
        {
            var camera = new THREE.PerspectiveCamera(45, 1 * window.innerWidth / window.innerHeight, 0.1, 1000);
            camera.position.set(-0, 30, 0);
            camera.lookAt(scene.position);
        }
        // GUI
        {
            var step = 0;
            // funciones
            var controls = new function () {
                this.inclinacion = 30;
                this.orientacion = 0;
                this.posiciona = function () {
                    console.log(controls.inclinacion)
                }
                this.posicionaT = function () {
                    console.log(controls.inclinacion)
                }
            };
            //  panel
            var gui = new dat.GUI();
            gui.add(controls, 'inclinacion', 0, 90).step(1);
            gui.add(controls, 'orientacion', -180, 180).step(1);
            gui.add(controls, 'posiciona');
            // gui.add(controls, 'posicionaT');
        }
        // ...ACCION
        render();
        function render() {
            cube.rotation.z = (controls.inclinacion - 90) * Math.PI / 180;
            cube.rotation.y = (-controls.orientacion )* Math.PI / 180;
            // 
            requestAnimationFrame(render);
            renderer.render(scene, camera);
        }
    </script>
</body>

</html>