<!DOCTYPE html>
<html>

<head>
    <title>02.15 - Apply Matrix Transformations</title>
    <!-- <script src="../libs/three.js"></script>
    <script src="../libs/dat.gui.min.js"></script> -->


    <script src="https://threejs.org/build/three.min.js"></script>
    <script src="https://threejs.org/examples/js/libs/dat.gui.min.js"></script>




    <style>
        body {
            margin: 0;
            overflow: hidden;
        }
    </style>
</head>
<script>

    // global variables
    var renderer;
    var scene;
    var camera;
    // var control;

    function init() {

        // create a scene, that will hold all our elements such as objects, cameras and lights.
        scene = new THREE.Scene();

        // create a camera, which defines where we're looking at.
        camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 0.1, 1000);

        // create a render, sets the background color and the size
        renderer = new THREE.WebGLRenderer();
        renderer.setClearColor(0xffffff, 1.0);
        renderer.setSize(window.innerWidth, window.innerHeight);

        scene.add(new THREE.GridHelper(1000, 10));


        var light = new THREE.DirectionalLight(0xffffff, 2);
        light.position.set(1, 1, 1);
        scene.add(light);

        // create a cube and add to scene
        var cubeGeometry = new THREE.BoxBufferGeometry(10, 10, .2);
        var texture = new THREE.TextureLoader().load('textures/panel.png', render);
        texture.anisotropy = renderer.capabilities.getMaxAnisotropy();


        var cubeMaterial = new THREE.MeshLambertMaterial({ map: texture, transparent: true });
        cubeMaterial.transparent = true;
        var cube = new THREE.Mesh(cubeGeometry, cubeMaterial);
        cube.name = 'cube';
        scene.add(cube);



        camera.position.x = 15;
        camera.position.y = 16;
        camera.position.z = 13;
        camera.lookAt(scene.position);

        // add the output of the renderer to the html element
        document.body.appendChild(renderer.domElement);

        control = new function () {
            this.orientacion = 0;
            this.inclinacion = 35;

            this.posiciona = function () {



                var orientacion = new THREE.Matrix4().makeRotationY(this.orientacion * 2 * Math.PI / 180);
                cube.geometry.applyMatrix4(orientacion);
                // cube.geometry.verticesNeedUpdate = true;

                var rotation = new THREE.Matrix4().makeRotationX(90-this.inclinacion * 2 * Math.PI / 180);
                cube.geometry.applyMatrix4(rotation);
                // cube.geometry.verticesNeedUpdate = true;


                // euler = new THREE.Euler( 0, 0, 0, 'XYZ' );  
                // cube.position.applyEuler( euler );
            }
        };

        addControls(control);

        render();
    }

    function addControls(controlObject) {
        var gui = new dat.GUI();
        gui.add(controlObject, 'orientacion', -180, 180).step(1);
        gui.add(controlObject, 'inclinacion', 0, 90).step(1);
        gui.add(controlObject, 'posiciona');
    }
    function render() {
        renderer.render(scene, camera);
        requestAnimationFrame(render);
    }
    // calls the init function when the window is done loading.
    window.onload = init;

</script>

<body>
</body>

</html>